@media only screen and (max-width: 991px){

}

@media only screen and (max-width: 767px){
    .header{
        &__logo{
            width: 100%;
            justify-content: center;
            align-items: center;
            display: flex;

            a{
                font-size: 25px;
            }
        }

        &__nav{
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 75%;
            background: white;
            box-shadow: 3px 0px 10px 2px rgb(0 0 0 / 50%);
            transition: all .5s ease;
            transform: translateX(0);

            &--hide{
                transform: translateX(-120%);
            }

            ul {
                flex-direction: column;
                align-items: center;
                justify-content: center;

                li{
                    margin: 20px 0;

                    a{
                        font-size: 30px;
                        font-weight: 700;
                    }
                }
            }
            
            .nav-close{
                display: block;
            }
        }

        &__hamburger{
            display: flex;
        }
    }

    .footer{
        padding: 30px;

        &__nav{
            ul{
                flex-direction: column;
                justify-content: center;
                align-items: center;

                li{
                    margin: 25px 0;

                    a{
                        font-size: 25px;
                    }
                }
            }
        }

        &__info{
            ul{
                flex-direction: column;
                justify-content: center;
                align-items: center;

                li{
                    margin: 10px 0;

                    a{
                        font-size: 20px;
                    }
                }
            }
        }
    }

    /* Banner */
    .banner{
        background-position: center;

        &__title{
            font-size: 35px;
        }

        &__image{
            width: 80%;
            position: relative;
            left: 50%;
            transform:translateX(-50%);
        }
    }
}