@use "sass:color";
$textFonts: 'Tisa Sans Pro';
$textBoldFonts: 'Tisa Sans Pro Black';
$whiteFontColor: #fff;
$sectionTitleFontSize: 35px;
$sectionTitleFontColor: #453636;
$textColorOrange: #AE8C7A;

body{
  scroll-behavior: smooth;

  .section{
    position: relative;
    padding: 20px 0 300px;

    &__title{
      font-size: $sectionTitleFontSize;
      color: $sectionTitleFontColor;
      font-family: $textBoldFonts;
      margin-bottom: 40px;
    }

    &__subtitle{
      font-size: 18px;
      color: $textColorOrange;
      font-family: $textFonts;
      text-align: center;
      margin-bottom: 20px;
    }

    &__title-logo{
      height: 55px;
      width: 55px;
      margin-bottom: 20px;
    }

    &__main-button {
      height: 55px;
      width: 280px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #3C562C;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 3px;
      border-radius: 10px;
      transition: all .3s ease;
      font-family: $textFonts;
      margin: 0 auto;
      position: relative;
      z-index: 1;
      font-size: 14px;

      &.green-button{
        background-color: #3C562C;
      }

      &.orange-button{
        background-color: #F6914E;
      }

      &:hover{
        opacity: 0.9;
      }
    }
  }
}

/* Independent Components Styles First */
.banner-wave{
  position:absolute;
  width: 100%;

  &.wave-bottom{
    bottom: -1px;
  }

  &.wave-top{
    top: -1px;
  }
}

.image-scroll-slider {
  position: relative;
  height: 100%;
  min-height: 500px;

  &__separator{
    height: 100%;
    width: 5px;
    background: #443636;
    top: 50%;
    transform: translate(50%, -50%);
    position: absolute;
  }

  img{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

/* Then section styles */
.header{
  padding: 50px 40px;
  display: flex;
  align-items: center;
  position: fixed;
  top:0;
  background: transparent;
  width: 100%;
  transition: all .3s ease;
  z-index: 999;

  &--shrink{
    padding: 30px 40px;
    background-color: white;
  }

  &__logo{
    a{
      font-family: 'Kabrio';
      color: #443636;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 20px;
    }
  }

  &__nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-grow: 1;
    
    ul{
      list-style: none;
      padding: 0;
      display: flex;
      margin: 0 40px;
      width: 100%;

      li{
        margin: 0 9px;

        &:first-child{
          margin-left: 0px;
        }

        &:last-child{
          margin-right: 0px;
        }
        
        a{
          color: #A08B81;
          text-decoration: none;
          white-space: nowrap;
          font-family: $textFonts;
          transition: all .3s ease;
      
          &:hover{
            color: darken(#A08B81, 20%)
          }
        }
      }
    }

    .nav-separator{
      width: 100%;
    }

    .nav-close {
        position: absolute;
        top: 20px;
        right: 50px;
        font-size: 50px;
        color: #a08b81;
        text-decoration: none;
        display: none;
    }
  }

  .cart {
    position: relative;

    &__icon{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &__count{
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      top:0;
      left:0;
      color: #443636;
      font-family: $textFonts;
      font-size: 17px;
    }
  }

  &__hamburger {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: none;
      em {
        width: 35px;
        height: 5px;
        background-color: #443636;
        margin: 3.5px 0;
        border-radius: 3px;
      }
  }
}

.banner{
  background: url(../../assets/images/homepage-bg.png);
  position: relative;
  overflow: hidden;
  padding: 190px 0 300px;
  background-size: cover;
  background-position: center right;

  &__contents{
    position: relative;
    z-index: 1;
  }

  &__title{
    font-family: $textBoldFonts;
    font-weight: 900;
    font-size: 47px;
    color: #443636;
  }

  &__subtitle{
    font-size: 20px;
    color: #A08B81;
    text-decoration: none;
    white-space: nowrap;
    font-family: $textFonts;
    margin: 22px 0;
  }

  &__button{
    padding: 15px 70px;
    border: none;
    background: #F6914E;
    color: white;
    font-family: $textFonts;
    font-weight: 100;
    border-radius: 5px;
    box-shadow: 0px 20px 20px -3px #8a8a8a80;
    transition: all .3s ease;

    &:hover{
      background: darken(#F6914E, 5%)
    }
  }

  &__image{
    width: 80%;
    object-fit: contain;
  }
}

.vermas-benefits{
  background-color: #faead8;

  .vermas-benefits-card {
    overflow: hidden;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 0px 25px -15px rgb(0 0 0 / 50%);

    &__image {
      width: 100%;
      height: 350px;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &__desc {
      padding: 20px 55px;
      text-align: center;
      font-size: 20px;
      color: $sectionTitleFontColor;
      font-family: $textFonts;
      font-weight: 500;
    }
  }
}

.about-our-cbd{
  position: relative;
  padding: 20px 0;
  background-color: #ffffff;
  padding-bottom: 20px !important;

  .aoc-entry{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 320px;
    width: 100%;

    &__icon{
      min-height: 85px;
      margin-bottom: 20px;
      object-fit: contain;
      object-position: bottom;
    }

    &__title{
      font-family: $textFonts;
      font-weight: 900;
      font-size: 16px;
      color: $sectionTitleFontColor;
      padding-bottom: 10px;
      border-bottom: solid 2px #F6914E;
      margin-bottom: 15px;
      text-align: center;
    }

    &__desc{
      font-family: $textFonts;
      font-weight: 100;
      font-size: 16px;
      color: $textColorOrange;
      text-align: center;
      min-height: 240px;
    }

    &:last-child{
      
      .aoc-entry__desc{
        min-height: unset;
      }
    }
  }
    
  .flickity-page-dots{
    .dot{
      background: #F6914E;
    }
  }
}

.love-it-or-its-on-us{
  background-color: #FBF4EE;
  
  .banner-wave.wave-top{
    transform: rotate(180deg);
    z-index: 1;
  }

  &__image{
    width: 100%;
    height: 100%;
    position: relative;
    left: 60%;
    transform: translateX(-50%);
    object-fit: cover;
    object-position: left;
  }

  &__desc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 300px 0;
  }

  .sticker {
    width: 100%;
    background: white;
    display: flex;
    margin: 10px 0;
    border-radius: 50px;
    padding: 0 20px;

    &__icon{
      height: 100%;
      width: 80px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    &__texts{
      padding: 15px;
      width: 100%;
    }

    &__title{
      font-family: $textFonts;
      color: $sectionTitleFontColor;
      font-size: 20px;
    }

    &__desc{
      font-family: $textFonts;
      color: $textColorOrange;
      font-size: 17px;
      margin: 0;
    }
  }
}

.footer{
  padding: 70px;
  background-color: #3C562C;

  &__nav{
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      justify-content: space-around;
  
      a{
        font-family: $textFonts;
        color: $whiteFontColor;
        text-decoration: none;
        font-size: 20px;
        font-weight: 100;
      }
    }
  }

  &__logo {
    padding: 50px 0;
    text-align: center;

    a{
      font-family: 'Kabrio';
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
      color: $whiteFontColor;
      text-decoration: none;
      letter-spacing: .1em;
    }
  }

  &__info{
    ul {
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;

      li{
        margin: 0 10px;

        &:first-child{
          margin-left: 0;
        }

        &:last-child{
          margin-right: 0;
        }

        a{
          font-family: "Tisa Sans Pro";
          text-decoration: none;
          font-weight: 100;
          color: transparentize($whiteFontColor,0.5);
        }
      }
    }
  }
}
