@use "sass:color";
$textFonts: 'Tisa Sans Pro';
$textBoldFonts: 'Tisa Sans Pro Black';
$whiteFontColor: #fff;

.header{
  padding: 50px 40px;
  display: flex;
  align-items: center;
  position: fixed;
  top:0;
  background: transparent;
  width: 100%;
  transition: all .3s ease;
  z-index: 999;

  &--shrink{
    padding: 30px 40px;
    background-color: white;
  }

  &__logo{
    a{
      font-family: 'Kabrio';
      color: #443636;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 20px;
    }
  }

  &__nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-grow: 1;
    
    ul{
      list-style: none;
      padding: 0;
      display: flex;
      margin: 0 40px;
      width: 100%;

      li{
        margin: 0 9px;

        &:first-child{
          margin-left: 0px;
        }

        &:last-child{
          margin-right: 0px;
        }
        
        a{
          color: #A08B81;
          text-decoration: none;
          white-space: nowrap;
          font-family: $textFonts;
          transition: all .3s ease;
      
          &:hover{
            color: darken(#A08B81, 20%)
          }
        }
      }
    }

    .nav-separator{
      width: 100%;
    }

    .nav-close {
        position: absolute;
        top: 20px;
        right: 50px;
        font-size: 50px;
        color: #a08b81;
        text-decoration: none;
        display: none;
    }
  }

  .cart {
    position: relative;

    &__icon{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &__count{
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      top:0;
      left:0;
      color: #443636;
      font-family: $textFonts;
      font-size: 17px;
    }
  }

  &__hamburger {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: none;
      em {
        width: 35px;
        height: 5px;
        background-color: #443636;
        margin: 3.5px 0;
        border-radius: 3px;
      }
  }
}

.banner{
  background: url(../../assets/images/homepage-bg.png);
  position: relative;
  overflow: hidden;
  padding: 150px 0;
  background-size: cover;
  background-position: center right;

  &__contents{
    position: relative;
    z-index: 1;
  }

  &__title{
    font-family: $textBoldFonts;
    font-weight: 900;
    font-size: 46px;
    color: #443636;
  }

  &__subtitle{
    font-size: 20px;
    color: #A08B81;
    text-decoration: none;
    white-space: nowrap;
    font-family: $textFonts;
    margin: 22px 0;
  }

  &__button{
    padding: 15px 70px;
    border: none;
    background: #F6914E;
    color: white;
    font-family: $textFonts;
    font-weight: 100;
    border-radius: 5px;
    box-shadow: 0px 20px 20px -3px #8a8a8a80;
    transition: all .3s ease;

    &:hover{
      background: darken(#F6914E, 5%)
    }
  }

  &__image{
    width: 80%;
  }
  
  #banner-wave{
    position:absolute;
    bottom:0%;
    width: 100%;
  }
}

.footer{
  padding: 70px;
  background-color: #3C562C;

  &__nav{
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      justify-content: space-around;
  
      a{
        font-family: $textFonts;
        color: $whiteFontColor;
        text-decoration: none;
        font-size: 20px;
        font-weight: 100;
      }
    }
  }

  &__logo {
    padding: 50px 0;
    text-align: center;

    a{
      font-family: 'Kabrio';
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
      color: $whiteFontColor;
      text-decoration: none;
      letter-spacing: .1em;
    }
  }

  &__info{
    ul {
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;

      li{
        margin: 0 10px;

        &:first-child{
          margin-left: 0;
        }

        &:last-child{
          margin-right: 0;
        }

        a{
          font-family: "Tisa Sans Pro";
          text-decoration: none;
          font-weight: 100;
          color: transparentize($whiteFontColor,0.5);
        }
      }
    }
  }
}
